<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.citylife"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />
    <!-- Used to connect Netmera Services -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Push Notification requires Google Account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- This permission is needed to register and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <!-- This permission is needed to  access location -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.example.citylife.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.citylife.SendActivity"
            android:label="@string/title_activity_send" >
        </activity>
        <activity
            android:name="com.example.citylife.BuyActivity"
            android:label="@string/title_activity_buy" >
        </activity>
        <activity
            android:name="com.example.citylife.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>